<div class="row" style="margin: 0%;">
  <div class="col-xs-12">
    <form>
      <div class="row" >
        <div class="col-sm-5 form-group" >
          <label for="name">Name</label>
          <input type="text" id="name" class="from-control" />
        </div>
        <div class="col-sm-2 form-group">
          <label for="name">Amount</label>
          <input type="number" id="name" class="from-control" />
        </div>
      </div>
      <div class="row" style="margin: 0%;">
        <div class="col-sx-12">
          <button class="btn btn-info" type="submit">Add</button>
          <button class="btn btn-danger" type="submit">Delete</button>
          <button class="btn btn-dark" type="submit">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>